<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Add A Comment:
      <%= form_for([ tutorial, comment ]) do |f| %>
        <%= f.text_area :content %></br>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
