<% @comments.each do |comment| %></br>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= comment.trainer.email %> said: </br>
        <%= comment.content %>
      </div>
    </div>
  </div>
<% end %>
