<h1>Tutorials</h1>

<% @tutorials.each do |tutorial| %>
  <%= link_to tutorial.title, tutorial_path(tutorial) %><br>
  <%# tutorial.body %>
  <%# tutorial.rating %>

  <%= link_to "Edit", edit_tutorial_path(tutorial) %>
  <%= link_to "Delete", tutorial, method: :delete, data: { confirm: "Are you sure you want to delete this tutorial?"} %>
<% end %>

<%= link_to "New Tutorial", new_tutorial_path %>
