<h2>Tutorials With Comments</h2></br>

<ul class="list-group">
  <% @tutorials.each do |tutorial| %>
    <li class="list-group-item"><%= link_to tutorial.title, tutorial_path(tutorial) %>
      by: <%= tutorial.trainer.email %>
    </li>
  <% end %>
</ul>
